.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-color: #7c7c7c;
  min-height: 90vh;
}

.libraryContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.headContainer {
  background-color: #61dafb;
  position: fixed;
  top: 0;
}

.containerHead {

  width: 100vw;
  text-align: center;
  position: relative;
  color: white;

}

.homeIcon {
  position: absolute;
  right: 10px;
  top: -10px;
}

.dashboard {
  display: flex;
  height: 100vh;
  align-items: center;
  gap: 30px
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

}

.card div h1 {
  color: #c814f5
}

.btn {
  display: flex;
  gap: 20px;
}

table {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 0
}

th,
tr,
td {
  padding: 10px;
  text-transform: capitalize;
  border: none;
}

td {
  margin: 0;
}

thead {
  background-color: #61dafb;
}

tbody tr:nth-child(odd) {
  background-color: #7c7c7c;
}

tbody tr:nth-child(odd) {
  background-color: #dbdbdb;
}

.libraryContainer {
  display: flex;
  width: 100%;
}

.libraryData {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.libraryForm {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  background-color: #dbdbdb;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

form label {
  font-size: 18px;
  display: block;
  min-width: 200px;
}

form input {
  width: 200px;
  height: 30px;
}

form select {
  width: 210px;
  height: 40px;
  font-size: 14px;
}

form select option {
  width: 200px;
}

.formBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  color: rgb(224, 224, 224);
  text-transform: capitalize;
}